
.icon-mail:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
